@import url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css');
@import url('https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css');

:root {
    --gray50 : #F2F5F8;
    --gray100 : #E2E7EC;
    --gray200 : #C6CFD7;
    --gray300 : #B1BAC5;
    --gray400 : #9099A6;
    --gray500 : #787F8A;
    --gray600 : #5F666D;
    --gray700 : #42464A;
    --gray800 : #2E3438;
    --gray900 : #181D21;
    --brand : #297DFC;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #F2F5F8, #ECF2F9) no-repeat fixed center;
    overflow: hidden;
    letter-spacing: -0.01rem;
}

.background {
    position: absolute;
    float: right;
    vertical-align: bottom;
    right: 0;
    bottom: 0;
}

.background-image {
    width: 50vw;
    z-index: -1;
    margin-right: -10vw;
    margin-bottom: -10vw;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    animation: logomotion 6s infinite ease-in-out;
}

@keyframes logomotion {
    0% { transform: translateY(0); }
    50% { transform: translateY(-2.5vw); }
    100% { transform: translateY(0); }
}

.button {
    font-family: 'SUIT';
    font-weight: 600;
    font-size: 1.125vw;
    padding: 1.125vw 2.25vw;
    border-radius: 1.125vw;
    border: none;
    background-color: var(--gray100);
    color: var(--gray800);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.button:hover {
    background-color: var(--gray200);
    transition: background-color 0.2s ease-in-out;
}

header {
    position: fixed;
    margin-top: 8vh;
    margin-left: 5vw;
    width: 100vw;
    display: inline-block;
    align-items: center;
    justify-content: center;
    letter-spacing: -0.04rem;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.logo-header {
    height: 3rem;
    vertical-align: middle;
}

.text-header {
    font-family: 'NanumSquareNeo';
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 6vw;
    color: var(--gray700);
    text-decoration: none;
    vertical-align: middle;
    transition: color 0.3s ease-in-out;
}

.text-header:hover {
    color: var(--gray900);
    font-weight: 800;
    transition: color 0.3s ease-in-out;
}

.text-header.selected-header {
    color: var(--gray700);
    font-weight: 800;
    transition: color 0.3s ease-in-out;
}

section {
    position: fixed;
    display: inline-block;
    margin-top: 30vh;
    margin-left: 5vw;
}

.title-main {
    font-family: 'SUIT';
    font-weight: 800;
    font-size: 3.5vw;
    letter-spacing: 1.5rem;
    line-height: 140%;
    color: var(--gray900);
    margin-left: 0.5rem;
}

#hover-title {
    width: fit-content;
    height: 10px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    margin-left: 0.5rem;
    z-index: 1;
}

#hover-title.hovered {
    color: var(--gray50);
    transition: color 0.5s ease-in-out;
}

#hover-title::before {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 5vw;
    background-color: var(--gray900); /* Wipe color */
    transition: width 0.5s ease-in-out; /* Transition effect for wipe animation */
    z-index: -1;
}

#hover-title.hovered::before {
    width: 99%;
    transition: width 0.5s ease-in-out;
}

.description-main {
    margin-top: 2rem;
}

.text-description {
    font-family: 'SUIT';
    font-weight: 500;
    font-size: 1.75vw;
    color: var(--gray700);
}

#accent-description {
    color: var(--brand);
    font-weight: 600;
}

#accent-description::after {
    content: '';
    margin-inline: .1rem .1rem;
    border-right: 1.5px solid var(--gray50);
    animation: cursor 1.5s infinite steps(1);
}

@keyframes cursor {
    0% { border-right: 1.5px solid var(--brand); }
    50% { border-right: 1.5px solid var(--gray50); }
    100% { border-right: 1.5px solid var(--brand); }
}

.button-main {
    margin-top: 2.5rem;

}